.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.55rem 1.2rem;
  display: inline-block;

  &--blue {
    background-color: $mainBlue;
    color: white;
    /*border: 2.25px solid #333;*/
  }

  &--white {
    background-color: #fff;
    color: $mainBlue;
    /*border: 2.25px solid #333;*/
  }

  &--nav {
    margin-top: 0.57em;
    margin-left: 0.57em;
    margin-right: -0.14em;
  }

  &--nob {
    border: none;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--large {
    font-size: 0.92rem;
    padding: 1.1rem 1.8rem;

    @mixin atSmall {
      font-size: 1.15rem;
    }
  }
}
