@media (min-width: 613px) {
  #main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/hero--small2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 993px) {
  #main {
    background-image: url(assets/images/hero--medium2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
  }
}

h1 {
  font-weight: 400;
  font-family: "sacramentoregular";
  font-size: 2rem;
  @mixin atSmall {
    font-size: 3.58rem;
  }
}

.bottom-line {
  height: 3px;
  width: 13rem;
  background: $mainOrange;
  display: block;
  margin: 0 auto 1.5rem auto;
}

@media (min-width: 613px) {
  .bottom-line {
    display: none;
  }
}

p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  margin: 0 auto;
}
label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  @mixin atSmall {
    font-size: 1.125rem;
  }
}

input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (min-width: 613px) {
  .btn.btn--gold {
    border: none;
  }
}

.container.ct {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 3.125rem;
}

@media (min-width: 576px) {
  .container.ct {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container.ct {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #fff;
}

@media (min-width: 613px) {
  .clue {
    color: gray;
  }
}

.text-center {
  text-align: center;
}

/* form */

#survey-form {
  border: #333 1.5px solid;
  background-image: linear-gradient(
    to right,
    rgba(207, 180, 48, 0.8),
    rgba(207, 180, 48, 0.7)
  );
  padding: 2.5rem 0.625rem;
  margin: 0;
}

@media (min-width: 480px) {
  #survey-form {
    padding: 2.5rem;
  }
}

@media (min-width: 613px) {
  #survey-form {
    border: #cfb430 4px solid;
    background-color: rgba(255, 255, 255, 0.87);
    background-image: none;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-group p {
  font-size: 1rem;
  @mixin atSmall {
    font-size: 1.125rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: #333 1.5px solid;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #333;
  outline: 0;
  box-shadow: 0 0 0 0.05rem #333;
}
@media (min-width: 613px) {
  .form-control {
    border: 1.5px solid #cfb430;
  }
  .form-control:focus {
    border-color: #cfb430;
    box-shadow: 0 0 0 0.1rem rgb(207, 180, 48);
  }
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border: #333 1.5px solid;
}

#information:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem #333;
}

@media (min-width: 613px) {
  .input-textarea {
    border: 1px solid #cfb430;
  }
  #information:focus {
    border-color: #cfb430;
    box-shadow: 0 0 0 0.1rem rgb(207, 180, 48);
  }
}
