.main {
  /*
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  padding: 0; */
  background-size: inherit;
}

#main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/hero--smaller2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 613px) {
  #main {
    background-image: url(assets/images/hero--small2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 993px) {
  #main {
    background-image: url(assets/images/hero--medium2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
  }
}

#main {
  /*margin: 0 auto; */
  /*padding-bottom: 1.875rem;*/
}

h1 {
  font-weight: 400;
  font-family: "sacramentoregular";
  font-size: 2rem;
  @mixin atSmall {
    font-size: 3.58rem;
  }
}

p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  margin: 0 auto;
}
label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  @mixin atSmall {
    font-size: 1.125rem;
  }
}

input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn.btn--gold {
  border: none;
}

.container.ct {
  width: 100%;
  margin: 0 auto -25rem auto;
  position: relative;
  padding-top: 3.125rem;
}

@media (min-width: 576px) {
  .container.ct {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container.ct {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: gray;
}

.text-center {
  text-align: center;
}

/* form */

#survey-form {
  border: #cfb430 4px solid;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 2.5rem 0.625rem;
}

@media (min-width: 480px) {
  #survey-form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-group p {
  font-size: 1rem;
  @mixin atSmall {
    font-size: 1.125rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.5px solid #cfb430;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #cfb430;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(207, 180, 48);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border: 1px solid #cfb430;
}

#information:focus {
  border-color: #cfb430;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(207, 180, 48);
}
