.feature-item {
  position: relative;
  padding-bottom: 0.25rem;

  @mixin atSmall {
    padding-left: 80px;
  }

  @mixin atML {
    padding-left: 100px;
  }

  @mixin atLarge {
    padding-bottom: 1rem;
  }

  @mixin atLarge {
    padding-left: 122px;
    margin-bottom: 0.5rem;
    &__smallpad {
      padding-left: 98px;
    }
  }
  &__icon {
    font-size: 3em;
    display: block;
    text-align: center;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }

    @mixin atLarge {
      font-size: 4em;
    }
  }

  &__title {
    font-size: 1.3rem;
    color: $mainBlue;
    font-weight: 500;
    margin-top: 0.7em;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin atSmall {
      font-size: 1.8rem;
      font-weight: 500;
      text-align: left;
    }
  }
}
