.generic-content-container {
  color: #333;
  p {
    line-height: 1.25;
    margin: 0 0 1.5rem 0;
    font-size: 1.05rem;
    @mixin atSmall {
      font-size: 1.25rem;
    }
    @mixin atML {
      margin: 0 0 1.5rem -1.3rem;
      font-size: 1.5rem;
    }
  }

  &--rec {
    p {
      @mixin atML {
        margin: 0 0 1.5rem 0;
        font-size: 1.3rem;
      }
    }
  }

  p a {
    font-weight: 700;
  }
}
