.headline {
  font-weight: 500;
  font-size: 2.4rem;
  color: #333;
  font-family: "Sacramento", cursive;

  @mixin atSmall {
    font-size: 3.75rem;
  }

  &--centered {
    text-align: center;
  }

  &--centered1 {
    text-align: center;
    @mixin atML {
      text-align: left;
    }
  }

  &--small {
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    @mixin atSmall {
      font-size: 1.4rem;
    }
    @mixin atMedium {
      font-size: 1.8rem;
    }
  }

  &--blue {
    color: $mainBlue;
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  strong {
    font-weight: 600;
  }

  &--b-margin-small {
    margin-bottom: 0.4em;
    @mixin atMedium {
      margin-top: 0;
    }
  }

  &--b-margin-smaller {
    margin-top: 0.5em;
    margin-bottom: 0.2em;

    @mixin atML {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }

  &--b-margin-large {
    margin-bottom: 1em;
    max-width: 15rem;

    @mixin atSmall {
      max-width: 35rem;
    }

    @mixin atMedium {
      max-width: 50rem;
    }
  }
}
