.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  img {
    opacity: 0.11;
    filter: brightness(1.5);
  }

  &__image {
    display: block;
    padding: 0 0 150px 0;
    @mixin atSmall {
      padding: 0 0 0 0;
    }
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    color: #333;
    font-size: 2.4rem;
    margin-top: 1.5em;
    font-family: "Sacramento", cursive;

    @mixin atSmall {
      font-size: 3.75rem;
      margin: 0.5em;
    }
  }

  &__description1 {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    max-width: 19rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 30rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 45rem;
    }
  }

  &__description2 {
    font-size: 1.2rem;
    color: $mainBlue;
    font-weight: 500;
    max-width: 19rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 30rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 45rem;
    }
  }
}

.hero2 {
  /* border-bottom: 10px solid $mainBlue; */
  position: relative;

  img {
    visibility: collapse;

    @mixin atSmallMedium {
      opacity: 0.25;
      filter: brightness(1.3);
      visibility: visible;
    }
  }

  &__image {
    display: none;

    padding: 0 0 50px 0;

    @mixin atSmallMedium {
      padding: 0 0 50px 0;
      display: block;
    }
  }

  &__text-content {
    position: relative;

    @mixin atSmallMedium {
      position: absolute;
      top: 50%;
      /* margin-top: -4rem; */
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
