.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  img {
    opacity: 0.11;
    filter: brightness(1.5);
  }

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    color: #333;
    font-size: 3rem;
    margin: 0;
    font-family: "Sacramento", cursive;

    @mixin atSmall {
      font-size: 3.5rem;
    }

    @mixin atMedium {
      font-size: 4.5rem;
    }
  }

  &__description {
    font-size: 1.2rem;
    color: $mainBlue;
    font-weight: 500;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 55rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 55rem;
    }
  }
}
