.large-hero {
  border-bottom: 8px solid $mainBlue;
  position: relative;

  &__image {
    opacity: 0.28;
    filter: brightness(1.24);
    display: block;
  }

  &__text-content {
    padding-top: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    color: $mainBlue;
    font-size: 2rem;
    font-family: "sacramentoregular";

    @mixin atSmall {
      font-size: 3.68rem;
      margin: 0.5em;
    }

    @mixin atSmallMedium {
      margin-top: 1em;
    }

    @mixin atMedium {
      margin-top: 0.5em;
    }
  }

  &__headline {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    max-width: 19rem;
    margin-left: auto;
    margin-right: auto;

    &--topm {
      margin-top: -0.5em;
    }

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 30rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 45rem;
    }
  }
}
