.large-hero {
  border-bottom: 8px solid $mainBlue;
  position: relative;

  &__image {
    opacity: 0.28;
    filter: brightness(1.24);
    display: block;
  }

  &__text-content {
    padding-top: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    color: $mainBlue;
    font-size: 2.4rem;
    font-family: "Sacramento", cursive;

    @mixin atSmall {
      font-size: 3.68rem;
      margin: 0.5em;
    }

    @mixin atSmallMedium {
      margin-top: 1em;
    }

    @mixin atMedium {
      margin-top: 0.5em;
    }
  } /*
  &__description1 {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    max-width: 19rem;
    margin-top: -0.5em;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 30rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 45rem;
    }
  } */

  &__headline {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    max-width: 19rem;
    margin-left: auto;
    margin-right: auto;

    &--topm {
      margin-top: -0.5em;
    }

    @mixin atSmall {
      font-size: 1.4rem;
      max-width: 30rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
      max-width: 45rem;
    }
  }
}

.hero2 {
  position: relative;

  img {
    visibility: collapse;

    @mixin atSmallMedium {
      opacity: 0.25;
      filter: brightness(1.3);
      visibility: visible;
      margin-top: -200px;
    }
  }

  &__image {
    display: none;

    padding: 0 0 50px 0;

    @mixin atSmallMedium {
      padding: 0 0 50px 0;
      display: block;
    }
  }

  &__text-content {
    position: relative;

    @mixin atSmallMedium {
      position: absolute;
      top: 65%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
