.page-section {
  padding: 0.25rem 0;

  &--nopad {
    padding: 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 0.25rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 0.25rem;
    }
  }

  &--blue {
    color: $mainBlue;
  }

  &--recommendations {
    background-color: #e8f9ff;
    @mixin atLarge {
      background: url("assets/images/hero--large3.jpg") no-repeat right
        bottom/cover;
    }
  }
}

.page-area {
  padding: 0.25rem 0;
}
