.page-section {
  padding: 0.25rem 0;

  &--blue {
    /* background-color: $mainBlue; */
    color: $mainBlue;

    /*
    margin-left: 50px;
    margin-right: 50px; */
  }

  &--recommendations {
    background: url("assets/images/hero--large3.jpg") no-repeat right
      bottom/cover;
  }
}
