.primary-nav {
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: none;
    @mixin atSmall {
      padding-right: 8px;
    }
    @mixin atMedium {
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 4px 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    background-color: rgba($mainBlue, 0.11);

    @mixin atSmall {
      font-size: 0.8rem;
    }

    @mixin atMedium {
      font-size: 1.075rem;
      padding: 19px 0;
      background-color: transparent;
    }
  }
  /*
  &--white {
    a {
      color: #226e91;
    }
  } */
}
