.primary-nav {
  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 8px;
  }

  a {
    color: $mainBlue;
    text-decoration: none;
    display: block;
    padding: 19px 0;
    font-size: 1.075rem;
  }
}
