.recommendation {
  background-color: rgba(255, 255, 255, 0.8);
  filter: brightness(1.1);
  padding: 0 18px 1px 18px;
  margin-bottom: 98px;

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &--last {
    margin-bottom: -2.5rem;
    @mixin atLarge {
      margin-bottom: 0;
    }
  }

  p {
    text-align: left;
    color: #333;
    margin-top: 1rem;
  }
  /* img {
    border-radius: 50%;
    border: 6px solid $mainBlue;
    background-color: $mainBlue;
  } Save for photos */

  &__photo {
    overflow: hidden;
    width: 172px;
    height: 172px;
    margin: 0 auto -65px auto;
    position: relative;
    top: -80px;
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainBlue;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem 0;
  }
}
