.row {
  @mixin clearfix;

  &--t-padding {
    padding-top: 95px;
  }

  &--b-padding {
    padding-bottom: 40px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__medium-4 {
    text-align: center;
  }

  &__medium-8 {
    margin-bottom: -1.4em;
    @mixin atSmall {
      margin-bottom: 0.25em;
    }
  }
  /*
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  } */

  @mixin atML {
    /*
    &__b-margin-until-medium {
      margin-bottom: 0;
    } */

    &__medium-4 {
      float: left;
      width: 23%;
    }

    &__medium-4b {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 77%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
}
