.row {
  @mixin clearfix;
  margin-bottom: -4rem;
  max-width: 1000px;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
  /*
  @mixin atSmall {
    margin-bottom: -6rem;
  }

  @mixin atMedium {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -8rem;
  } */

  &--gutters > div {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__medium-4 {
    text-align: center;
  }

  &__medium-6 {
    float: left;
    text-align: left;
  }

  &__medium-8 {
    p {
      margin-top: 0.5em;
    }
  }

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 25%;
      text-align: center;
    }

    &__medium-8 {
      float: left;
      width: 75%;
    }
  }
}
