.row {
  @mixin clearfix;

  &--t-padding {
    padding-top: 95px;
  }

  &--b-padding {
    padding-bottom: 40px;
  }

  &--gutters {
    margin-right: -65px;
    @mixin atSmallMedium {
      margin-right: -5px;
    }
    @mixin atMedium {
      margin-right: -20px;
    }
    @mixin atML {
      margin-right: -65px;
    }
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
    @mixin atSmallMedium {
      padding-right: 5px;
    }
    @mixin atMedium {
      padding-right: 20px;
    }
    @mixin atML {
      padding-right: 65px;
    }
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__medium-4 {
    text-align: center;
  }

  &__medium-8 {
    margin-bottom: -1.4em;
    @mixin atSmall {
      margin-bottom: 0.25em;
    }
  }

  @mixin atSmallMedium {
    &__medium-4 {
      float: left;
      width: 45%;
    }

    &__medium-8 {
      float: left;
      width: 55%;
    }
  }

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 23%;
    }

    &__medium-4b {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 77%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }
  }

  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 23%;
    }

    &__large-4b {
      float: left;
      width: 33.33%;
    }

    &__large-8 {
      float: left;
      width: 77%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
}
