.row {
  @mixin clearfix;

  max-width: 976px;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;

  &--gutters > div {
    padding-right: 15px;
  }

  &__medium-4 {
    text-align: center;
  }

  &__medium-8 {
    p {
      margin-top: 0.5em;
    }
  }

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 30%;
      text-align: center;
    }

    &__medium-8 {
      float: left;
      width: 70%;
    }
  }
}
