.section-title {
  font-size: 2.4rem;
  font-family: "sacramentoregular";
  font-weight: 100;
  text-align: center;
  color: #333;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  @mixin atSmall {
    margin-top: 0.025em;
  }

  &--no-bm {
    margin-bottom: 0em;
    font-size: 2.7rem;
    @mixin atSmall {
      font-size: 2.8rem;
    }
  }

  &--blue {
    color: $mainBlue;

    img {
      padding-right: 0.2em;
      max-width: 45px;
      @mixin atSmall {
        max-width: 100%;
      }
    }
  }

  &--recommendations {
    margin-top: 0.65em;
    margin-bottom: 0.025em;
  }

  @mixin atSmall {
    font-size: 3.68rem;
  }
}
