.section-title {
  font-size: 2.4rem;
  font-family: "Sacramento", cursive;
  font-weight: 100;
  text-align: center;
  color: #333;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  @mixin atSmall {
    margin-top: 0.025em;
  }

  &--blue {
    color: $mainBlue;
  }

  &--recommendations {
    margin-top: 0.65em;
    margin-bottom: 0.025em;
  }

  @mixin atSmall {
    font-size: 3.68rem;
  }
}
