.site-header {
  padding: 5px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  /* background-color: rgba($mainBlue, 0.3); */

  &__btn-container {
    float: right;
    font-size: 1.1rem;
    margin-top: 3px;
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: #2d8cb9; /*  #287da4; */
    padding: 12px 21px;
  }
}
