.site-header {
  padding: 3px 0 5px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-out;

  @mixin atSmall {
    padding: 5px 0;
  }

  &--is-expanded {
    background-color: rgba($mainBlue, 0.65);
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, 0.6);

    &--dark {
      background-color: rgba($mainBlue, 0.9);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
      font-size: 1.1rem;
      margin-top: 3px;
    }
    font-size: 0.75rem;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transition: transform 0.4s ease-out;
    transform: translateX(-50%);
    background-color: $mainBlue;
    padding: 2px 19px 6px 19px;
    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      padding: 6px 21px 12px 19px;

      .site-header--dark & {
        transform: translateY(-10%) scale(0.76);
      }
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainBlue;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainBlue;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainBlue;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25) translateY(-0.5px);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 85px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}
