.wrapper {
  /*
  max-width: 1236px; */
  margin-left: auto;
  margin-right: auto;

  &--medium {
    text-align: center;
  }

  &--2 {
    margin-top: 1rem;

    @mixin atSmall {
      margin-top: 4rem;
    }

    @mixin atSmallMedium {
      margin-top: -4rem;
    }

    @mixin atMedium {
      margin-top: -8rem;
    }
    @mixin atLarge {
      margin-top: -14rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--a {
    padding-left: 18px;
    padding-right: 18px;
  }

  &--b-margin {
    margin-bottom: -2.25rem;
    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  & i.fas {
    color: $mainBlue;
  }
}
