.wrapper {
  overflow: hidden; /*
  max-width: 1236px; */
  margin-left: auto;
  margin-right: auto;

  &--medium {
    text-align: center;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--a {
    padding-left: 18px;
    padding-right: 18px;
  }

  &--b-margin {
    margin-bottom: -2.25rem;
    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  & i.fas {
    color: $mainBlue;
  }
}
